<!-- Date: 11/16/2023 -->
<!-- Adapted from Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/people.j2 -->

<hthml>
<head>
	<title>Courts</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'delete') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'block';
		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
			
		}
	}

	function newCourt() {
		showform('insert');
	}

	function updateCourt(court_id) {
		showform('update');
	}

	function deleteCourt(court_id) {
		showform('delete');
	}

	function browseCourt() {
		showform('browse');
	}

	function showAll() {
		showform('all');
	}
	</script>
</head>

<body onload="browseCourt()">
	<h1>Courts</h1>
	[ <a href="gyms">Gyms</a> | <a href="members">Members</a> | <a href="courts">Courts</a> | <a href="gymmemberships">Gym Memberships </a> | <a href="reservations">Reservations </a> ]
	
	<div id="browse">
		<p><a href="#" onClick="newCourt()">Add New</a> </p>
		
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td> 
                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
						    <td><a href="edit_court/{{item.court_ID}}" class="btn btn-default">Edit</a></td>
							<td><a href="delete_court/{{item.court_ID}}" class="btn btn-default" onclick="return confirm('Are you sure you want to delete?');">Delete</a></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   
	<p>&nbsp;</p>
	</div>	<!-- browse -->

	<div id="insert">
		<!-- form to INSERT (create) new Court -->
		<form id="insertCourt" action="/courts" method="post">
			
			<br>
			<legend><strong>Add Court</strong></legend>
			<br>

			<fieldset>
				<!-- Make sure the name in the "select" part matches the variable name you have in app.py under the 'POST' section of the court route -->
				<label>location: </label>
				<select name="gym_ID" id ="gym_ID">
                	<option value="0">&nbsp;</option>
					{% for item in locations %}
						<option value="{{item['gym_ID']}}">{{item['location']}}</option>
					{% endfor %}
            	</select>

				<label for="court_name">court_name: </label>
				<input type="text" class="form-control" id="court_name" name="court_name" required>
			</fieldset>

			<!-- Buttons: 'Add Court' and 'Cancel' -->
			<input type="submit" value="Add Court" name="Add_Court" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseCourt()" style="margin:.5rem;">
		</form>
	</div>
</body>
</html>
