<!-- Date: 11/16/2023 -->
<!-- Adapted from Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/edit_people.j2 -->
<!-- jinja template for Edit functionality for the Courts table --> 

<html>

<head>
	<title>Edit Courts</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> Editing Court: </caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>
        <br>

        <div id="edit">
            <!-- form to edit data -->
            <form id="editCourt" action="/edit_court/{{data[0].court_ID}}" method="post">
                <legend><strong>Edit Court</strong></legend>
                
                <fieldset>
                    <!-- We can preset form inputs to match attributes currently stored for 'id' of Court to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the Court we are editing so we can access it easily in our 'POST' method in our app.py -->
                    <input type="hidden" value="{{data[0].court_ID}}" class="form-control" id="court_ID" name="court_ID" required>

                    <label for="court_name">New Court Name: </label>
                    <input type="text" value="{{data[0].court_name}}" class="form-control" id="court_name" name="court_name" required>
                
                </fieldset>
                
                <input type="submit" value="Update Court" name="edit_court" class="btn btn-primary" style="margin:.5rem;">
                <a href='/courts'><input class="btn" type="button" value="cancel"></a>
            
            </form>

</html>
