<!-- Date: 11/16/2023 -->
<!-- Adapted from Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/people.j2 -->
<!-- jinja template for Edit functionality for the Members table --> 

<html>

<head>
	<title>Edit Members</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> Editing Member: </caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

        <div id="edit">
            <!-- form to edit data -->
            <form id="editMember" action="/edit_member/{{data[0].member_ID}}" method="post">
                <legend><strong>Edit Member </strong></legend>
                <fieldset>
                    <!-- We can preset form inputs to match attributes currently stored for 'id' of person to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the person we are editing so we can access it easily in our 'POST' method in our app.py -->
                    <input type="hidden" value="{{data[0].member_ID}}" class="form-control" id="member_ID" name="member_ID" required>
                    
                    <label for="first_name">first name:</label>
                    <input type="text" value="{{data[0].first_name}}" class="form-control" id="first_name" name="first_name" required>
                    
                    <label for="last_name">last name: </label>
                    <input type="text" value="{{data[0].last_name}}" class="form-control" id="last_name" name="last_name" required>

                    <label for="age">age: </label>
                    <input type="number" value="{{data[0].age}}" id="age" name="age" required>

                    <label for="email">email:</label>
                    <input type="email" value="{{data[0].email}}" class="form-control" id="email" name="email" required>
                    
                    <label for="gender">gender: </label>
                    <input type="text" value="{{data[0].gender}}" class="form-control" id="gender" name="gender" placeholder="M/F" required>
                
                </fieldset>
                <input type="submit" value="Update Member" name="edit_member" class="btn btn-primary" style="margin:.5rem;">
                <a href='/members'><input class="btn" type="button" value="cancel"></a>
            </form>

</html>
